<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SqlServerConnectionString" value="Data Source=localhost;Initial Catalog=Test;Integrated Security=SSPI;" />
    <add key="SqlServer2005ConnectionString" value="Data Source=localhost;Initial Catalog=Test;Integrated Security=SSPI;" />
	<add key="SqlServerCeConnectionString" value="Data Source=test.sdf" />
    <add key="NpgsqlConnectionString" value="SERVER=localhost;Database=test;User ID=;Password=;" />
    <add key="MySqlConnectionString" value="Database=test;Data Source=localhost;User Id=test;Password=test;" />
    <add key="SQLiteConnectionString" value="Data Source=:memory:;version=3" />
    <add key="OracleConnectionString" value="Data Source=Oracle8i;Initial Catalog=Test;Integrated Security=SSPI" />
  </appSettings>
</configuration>
