<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SqlServerConnectionString" value="Data Source=.\SQLEXPRESS;Initial Catalog=Test;Integrated Security=SSPI;" />
    <add key="NpgsqlConnectionString" value="SERVER=localhost;Database=test;User ID=;Password=;" />
    <add key="MySqlConnectionString" value="Database=test;Data Source=localhost;User Id=;Password=;" />
    <add key="SQLiteConnectionString" value="Data Source=../db/test.db;Version=3;New=True;Compress=True;" />
  </appSettings>
</configuration>
