<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SqlServerConnectionString" value="Data Source=.;Initial Catalog=Test;Integrated Security=SSPI;" />
		<add key="NpgsqlConnectionString" value="Server=localhost;Database=test;User ID=postgres;Password=postgres;searchpath=public" />
		<add key="MySqlConnectionString" value="Database=test;Data Source=localhost;User Id=root;Password=;" />
		<add key="SQLiteConnectionString-Mono" value="Data Source=file:memory:;version=3" />
        <add key="SQLiteConnectionString" value="Data Source=:memory:;version=3" />
	</appSettings>
</configuration>
